<!-- Botão de Leitura
<button class="botao-flutuante" (click)="alternarEstadoLeitura()">
  <img src="../img/volume.png" alt="Ativar leitura de tela" class="icone-botao">
</button>-->
<button class="botao-flutuante" (click)="alternarEstadoLeitura()">
  <img id="iconeLeitura" src="../img/volume.png" alt="Ativar leitura de tela" class="icone-botao">
</button>



<button class="botao-preto-branco" (click)="trocaCor()">
  <img src="../img/preto-e-branco.png" alt="Ícone preto e branco" class="icone-botao">
</button>

<div id="vlibras-plugin"></div>
