<!--Como ajudar Maps-->
<div tabindex="0"style="display: inline-flexbox">
  <!--Faixa Como Ajudar-->
  <div class="faixaCA text-center">
    <h1>Como Ajudar</h1>
  </div>
</div>

<!--Div Descrição-->
<div tabindex="0" class="d-flex text-center">
  <div class="textoinicial">
    <p>
      As doações de alimentos são essenciais para manter nossos pontos de
      arrecadação abastecidos e garantir que as famílias em situação de
      vulnerabilidade tenham acesso a alimentos essenciais. Abaixo, você
      encontrará uma lista com os locais onde pode fazer suas doações no ponto
      mais próximo.
    </p>
  </div>
</div>

<!--Div containers conteudo-->
<div tabindex="0" class="container my-4" style="color: #522916;">
  <div class="mx-auto p-4 rounded pontos-arrecadacao" >
      <!-- Título -->
      <h5 class="text-center fw-bold mb-4">Pontos de Doação</h5>



 <!--<div *ngFor="let ponto of pontosArrecadacao" tabindex="0" class="cards-enderecos p-3 mb-3">
  <div class="d-flex">
    <i class="fas fa-map-marker-alt fs-4 me-3"></i>
    <div>
      <strong>{{ ponto.parceiro?.nome }}</strong><br />
      <span class="text-muted">
        <strong>Endereço:</strong>
        {{ ponto.logradouro }}, {{ ponto.numero }} – {{ ponto.bairro }},
        {{ ponto.cidade }} - {{ ponto.estado }}, {{ ponto.cep }}
      </span>
    </div>
  </div>
</div>-->

  <div tabindex="0" class="cards-enderecos p-3 mb-3">
      <div class="d-flex">
        <i class="fas fa-map-marker-alt fs-4 me-3"></i>
        <div>
          <strong>Supermercado Solidário</strong><br />
          <span class="text-muted">
            <strong>Endereço:</strong>
            Rua das Flores, 123 – Centro, São Paulo - SP, 01000-000
          </span>
        </div>
      </div>
    </div>

    <div tabindex="0" class="cards-enderecos p-3 mb-3">
      <div class="d-flex">
        <i class="fas fa-map-marker-alt fs-4 me-3"></i>
        <div>
          <strong>Associação Vida Nova</strong><br />
          <span class="text-muted">
            <strong>Endereço:</strong>
            Avenida Esperança, 456 – Jardim Alegria, Belo Horizonte - MG,
            30123-456
          </span>
        </div>
      </div>
    </div>

    <div tabindex="0" class="cards-enderecos p-3 mb-3">
      <div class="d-flex">
        <i class="fas fa-map-marker-alt fs-4 me-3"></i>
        <div>
          <strong>Instituto Criança Feliz</strong><br />
          <span class="text-muted">
            <strong>Endereço:</strong>
            Rua da Paz, 789 – Vila Harmonia, Curitiba - PR, 80010-789
          </span>
        </div>
      </div>
    </div>
  </div>

  <!--Maps-->
  <div class="col-md-6">
    <app-mapa></app-mapa>
  </div>
</div>





