<div tabindex="0" class="container-fluid main-content">
  <div class="page-container">
    <div class="sidebar">
      <div class="sidebar-content">
        <div class="dados-instituição d-flex flex-column align-items-center">
          <img
            src="\img\logo.png"
            alt="Logo"
            class="img-usuario d-inline-block align-text-top"
          />
          <a class="navbar-brand"> Olá, Parceiro! </a>
        </div>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a
              routerLink="/pagina-parceiros"
              class="nav-link active"
              aria-current="page"
              >Dados Parceiro</a
            >
          </li>
          <li class="nav-item">
            <a routerLink="/pagina-RepresentanteParceiros" class="nav-link"
              >Dados Parceiros Representante</a
            >
          </li>

          <li class="nav-item">
            <a routerLink="/pagina-desativarParceiro" class="nav-link"
              >Desativar</a
            >
          </li>

          <li class="nav-item">
            <a (click)="logout()" class="nav-link" style="cursor: pointer"
              >Sair</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="main-content flex-grow-1">
      <!--Formulário Reativo -->
      <form
        [formGroup]="formParceiros"
        (ngSubmit)="onSubmit()"
        class="form-content container-fluid"
      >
        <h5 class="m-2">Selecione o tipo de parceiro que deseja ser:</h5>
        <p>
          o <strong>Parceiro Captador</strong> cadastra um ponto de coleta de
          alimentos, que serão enviados para instituições de caridade ou ONGs
          cadastradas.
        </p>
        <p>
          O <strong>Parceiro Divulgador</strong> apoia na divulgação da nossa
          ideia e valores, ajudando a ampliar nosso alcance.
        </p>
        <label for="tipoParceiro">Tipo de Parceiro: </label>

        <div class="form-check form-check-inline m-3">
          <input
            class="form-check-input"
            type="radio"
            name="tipoParceiro"
            id="inlineRadio1"
            value="option1"
            [checked]="tipoParceiro === 'option1'"
            (change)="onTipoParceiroChange('option1')"
          />
          <label class="form-check-label" for="inlineRadio1"
            >Parceiro Captador</label
          >
        </div>

        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="tipoParceiro"
            id="inlineRadio2"
            value="option2"
            [checked]="tipoParceiro === 'option2'"
            (change)="onTipoParceiroChange('option2')"
          />
          <label class="form-check-label" for="inlineRadio2"
            >Parceiro Divulgador</label
          >
        </div>

        <!--Input Nome-->
        <div class="row">
          <div class="form-group col-12">
            <label for="nome">Nome da Instituição Parceira</label>
            <input
              type="text"
              id="nome"
              class="form-control"
              placeholder="Nome Completo"
              formControlName="nome"
            />

            <!--Validação Nome-->
            <div
              *ngIf="
                formParceiros.get('nome')?.invalid &&
                formParceiros.get('nome')?.touched
              "
              class="text-danger"
            >
              <small *ngIf="formParceiros.get('nome')?.errors?.['required']"
                >O nome da organização é obrigatório.</small
              >
              <small *ngIf="formParceiros.get('nome')?.errors?.['minlength']"
                >O nome deve ter no mínimo 3 caracteres.</small
              >
            </div>
          </div>
        </div>

        <!--Input CNPJ-->
        <div class="row">
          <div class="form-group col-6">
            <label for="cnpj">CNPJ</label>
            <input
              type="text"
              id="cnpj"
              class="form-control"
              placeholder="00.000.000/0000-00"
              formControlName="cnpj"
            />
            <!--Validação CNPJ-->
            <div
              *ngIf="
                formParceiros.get('cnpj')?.invalid &&
                formParceiros.get('cnpj')?.touched
              "
              class="text-danger"
            >
              <small *ngIf="formParceiros.get('cnpj')?.errors?.['required']"
                >O CNPJ é obrigatório.</small
              >
              <small *ngIf="formParceiros.get('cnpj')?.errors?.['pattern']"
                >CNPJ inválido. Formato esperado: 00.000.000/0000-00.</small
              >
            </div>
          </div>

          <!--Input Telefone-->
          <div class="form-group col-6">
            <label for="telefone">Telefone</label>
            <input
              type="text"
              id="telefone"
              class="form-control"
              placeholder="(00) 00000-0000"
              formControlName="telefone"
            />

            <!--Validação Telefone-->
            <div
              *ngIf="
                formParceiros.get('telefone')?.invalid &&
                formParceiros.get('telefone')?.touched
              "
              class="text-danger"
            >
              <small *ngIf="formParceiros.get('telefone')?.errors?.['required']"
                >O telefone é obrigatório.</small
              >
              <small *ngIf="formParceiros.get('telefone')?.errors?.['pattern']"
                >Telefone inválido. Formato esperado: (00) 00000-0000.</small
              >
            </div>
          </div>
        </div>

        <!--Input Email-->
        <div class="row">
          <div class="form-group col-12">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              class="form-control"
              placeholder="exemplo@dominio.com"
              formControlName="email"
            />

            <!--Validação Email-->
            <div
              *ngIf="
                formParceiros.get('email')?.invalid &&
                formParceiros.get('email')?.touched
              "
              class="text-danger"
            >
              <small *ngIf="formParceiros.get('email')?.errors?.['required']"
                >O email é obrigatório.</small
              >
              <small *ngIf="formParceiros.get('email')?.errors?.['email']"
                >Formato de email inválido.</small
              >
            </div>
          </div>
        </div>

        <!--Input Area de Atuação-->

        <div class="form-group col-5">
          <label for="area-atuacao">Área de atuação</label>
          <input
            type="text"
            id="area-atuacao"
            class="form-control"
            placeholder="ex: Saúde, Educação, Meio Ambiente"
            formControlName="areaAtuacao"
          />

          <!--Validação Area de Atuação-->
          <div
            *ngIf="
              formParceiros.get('areaAtuacao')?.invalid &&
              formParceiros.get('areaAtuacao')?.touched
            "
            class="text-danger"
          >
            <small>A área de atuação é obrigatória.</small>
          </div>
        </div>

        <!--Campos condicionais-->
        <div *ngIf="tipoParceiro === 'option1'">
          <div class="row">
            <div class="form-group col-9">
              <label for="logradouro">Logradouro</label>
              <input
                type="text"
                id="logradouro"
                class="form-control"
                placeholder="Rua Exemplo, 123"
                formControlName="logradouro"
              />
              <div
                *ngIf="
                  formParceiros.get('logradouro')?.invalid &&
                  formParceiros.get('logradouro')?.touched
                "
                class="text-danger"
              >
                <small
                  *ngIf="formParceiros.get('logradouro')?.errors?.['required']"
                  >O logradouro é obrigatório.</small
                >
              </div>
            </div>

            <div class="form-group col-3">
              <label for="numero">Número</label>
              <input
                type="text"
                id="numero"
                formControlName="numero"
                class="form-control"
              />
              <div
                *ngIf="
                  formParceiros.get('numero')?.invalid &&
                  formParceiros.get('numero')?.touched
                "
                class="text-danger"
              >
                <small *ngIf="formParceiros.get('numero')?.errors?.['required']"
                  >O número é obrigatório.</small
                >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-4">
              <label for="bairro">Bairro</label>
              <input
                type="text"
                id="bairro"
                formControlName="bairro"
                class="form-control"
                placeholder="Bairro Exemplo"
              />
              <div
                *ngIf="
                  formParceiros.get('bairro')?.invalid &&
                  formParceiros.get('bairro')?.touched
                "
                class="text-danger"
              >
                <small *ngIf="formParceiros.get('bairro')?.errors?.['required']"
                  >O bairro é obrigatório.</small
                >
              </div>
            </div>

            <div class="form-group col-4">
              <label for="cidade">Cidade</label>
              <input
                type="text"
                id="cidade"
                formControlName="cidade"
                class="form-control"
                placeholder="Cidade Exemplo"
              />
              <div
                *ngIf="
                  formParceiros.get('cidade')?.invalid &&
                  formParceiros.get('cidade')?.touched
                "
                class="text-danger"
              >
                <small *ngIf="formParceiros.get('cidade')?.errors?.['required']"
                  >A cidade é obrigatória.</small
                >
              </div>
            </div>

            <div class="form-group col-4">
              <label for="estado">Estado</label>
              <input
                type="text"
                id="estado"
                formControlName="estado"
                class="form-control"
                placeholder="ex: São Paulo"
              />
              <div
                *ngIf="
                  formParceiros.get('estado')?.invalid &&
                  formParceiros.get('estado')?.touched
                "
                class="text-danger"
              >
                <small *ngIf="formParceiros.get('estado')?.errors?.['required']"
                  >O estado é obrigatório.</small
                >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-6">
              <label for="cep">CEP</label>
              <input
                type="text"
                id="cep"
                formControlName="cep"
                class="form-control"
                placeholder="00000-000"
              />
              <div
                *ngIf="
                  formParceiros.get('cep')?.invalid &&
                  formParceiros.get('cep')?.touched
                "
                class="text-danger"
              >
                <small *ngIf="formParceiros.get('cep')?.errors?.['required']"
                  >O CEP é obrigatório.</small
                >
              </div>
            </div>

            <div class="form-group col-6">
              <label for="horarioFuncionamento">Horário de Funcionamento</label>
              <input
                type="text"
                class="form-control"
                id="horarioFuncionamento"
                formControlName="horarioFuncionamento"
                placeholder="Ex.: das 8h às 18h"
              />
              <div
                *ngIf="
                  formParceiros.get('horarioFuncionamento')?.invalid &&
                  formParceiros.get('horarioFuncionamento')?.touched
                "
                class="text-danger"
              >
                <small
                  *ngIf="formParceiros.get('horarioFuncionamento')?.errors?.['required']"
                  >O Horário de Funcionamento é obrigatório.</small
                >
              </div>
            </div>
          </div>
        </div>

        <!--Input Anexo-->
        <!--Input Anexo Logo-->

        <div class="row">
          <div class="form-group col-12 anexo">
            <label for="upload">Anexar Logo</label>
            <input
              type="file"
              class="form-control-file"
              id="upload"
              formControlName="logo"
              accept=".pdf,.doc,.docx,.jpg,.png"
            />
            <small class="form-text text-muted"
              >(Aceitamos arquivos PDF, DOC, DOCX, JPG e PNG.)</small
            >
          </div>
        </div>

        <!--Input Anexo Documento-->
        <div class="row">
          <div class="form-group col-12 anexo">
            <label for="documento">Anexar Documento</label>
            <input
              type="file"
              class="form-control-file"
              id="documento"
              formControlName="documento"
              accept=".pdf,.doc,.docx,.jpg,.png"
            />
            <small class="form-text text-muted"
              >(Aceitamos arquivos PDF, DOC, DOCX, JPG e PNG.)</small
            >
          </div>
        </div>

        <!--Botão Submit-->

        <div class="d-flex align-items-center justify-content-center">
          <div class="form-group">
            <button
              type="submit"
              class="btn btn-enviar"
              [disabled]="formParceiros.invalid"
            >
              Enviar
            </button>

            <div *ngIf="showAlert" class="alert mt-3 text-center" role="alert">
              Dados enviados com sucesso!
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
